.input-group {
    display: flex;
}

.input-group .custom-select {
    flex-grow: 1;
    margin-right: 3px;
}

.input-group input,
.input-group button {
    margin-right: 5px;
    border-radius: 0%;
}
